#NewProjectDialog {
    background-color: var(--surface);
    color: var(--text);
    font-size: var(--font_size_small);
}
#NewProjectDialog QLineEdit {
    background-color: var(--primary);
    padding: var(--padding_large);
    border: 1px solid var(--secondary);
    border-radius: var(--border_radius_small);
    margin: var(--spacing_small) 0;
}
#NewProjectDialog QPushButton {
    background-color: var(--secondary);
    color: var(--text);
    padding: var(--padding_large) var(--spacing_xxlarge);
    border: none;
    border-radius: var(--border_radius_small);
    min-width: 80px;
}
#NewProjectDialog QPushButton:hover {
    background-color: var(--duodenary);
}
#NewProjectDialog QLabel {
    margin-top: var(--padding_large);
    color: var(--septenary);
    background-color: none;
}
#NewProjectDialog QComboBox {
    background-color: var(--primary);
    color: var(--text);
    padding: var(--padding_medium);
    border: 1px solid var(--secondary);
    border-radius: var(--border_radius_small);
}
#NewProjectDialog QComboBox::drop-down {
    border: none;
}
#NewProjectDialog QComboBox QAbstractItemView {
    background-color: var(--primary);
    color: var(--text);
    selection-background-color: var(--duodenary);
}