#TextBoxStylePanel {
    background-color: var(--tertiary); 
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--nonary);
}
#panelTitle {
    color: var(--text);
    font-size: var(--font_size_large);
    font-weight: bold;
}
#headerDivider {
    border-color: var(--primary);
}
#styleScrollArea {
        background-color: transparent;
}
#styleGroup {
    color: var(--text);
    font-weight: bold;
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 15px;
    font-size: var(--font_size_large);
}
#styleGroup::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0 8px;
    background-color: var(--tertiary);
}
#buttonContainer {
    background-color: var(--tertiary);
}
#resetButton, #applyButton {
        background-color: var(--primary);
        color: var(--text);
        border: none;
        padding: 10px;
        border-radius: 20px;
        font-size: var(--font_size_large);
}
#addPresetButton { 
    background-color: var(--quaternary); 
    border: 1px solid var(--border_input); 
    border-radius: 3px; 
}
#addPresetButton:hover { 
    background-color: var(--senary); 
    border-color: var(--quinary); 
}