#TypographyStylePanel { 
    background-color: transparent; 
}
QLabel { 
    color: var(--text_light); 
    font-size: var(--font_size_medium); 
    font-family: "Segoe UI"; 
}
QLabel#mainLabel {
    color: var(--text_light);
    font-weight: 600;
    font-size: var(--font_size_medium);
    margin-top: 5px; 
    margin-bottom: 4px; 
    padding-left: 2px;
}
QLabel#tinyLabel {
    color: var(--text_gray); 
    font-size: var(--font_size_small); 
    font-weight: 500; 
    margin-bottom: 3px;
}
QPushButton#colorButton {
    border: 1px solid var(--border_gray); 
    border-radius: 3px;
}
QPushButton#colorButton:hover { 
    border: 1px solid var(--border_gray_hover); 
}
QComboBox, QSpinBox {
    background-color: var(--primary); 
    color: var(--text); 
    border: 1px solid var(--secondary);
    padding: 4px; 
    border-radius: 4px; 
    font-size: var(--font_size_medium); 
    font-family: "Segoe UI";
}
QSpinBox { 
    padding-right: 0px; 
}
QComboBox::drop-down {
    border: none;
    width: 20px; 
}
QComboBox QAbstractItemView {
    background-color: var(--primary); 
    color: var(--text);
    selection-background-color: var(--accent_blue); 
    font-size: var(--font_size_medium); 
    outline: 0px;
}
QSpinBox::up-button, QSpinBox::down-button {
    subcontrol-origin: border; 
    width: 16px; 
    border-left: 1px solid var(--secondary);
}
QSpinBox::up-arrow, QSpinBox::down-arrow { 
    width: 10px; 
    height: 10px; 
}
QCheckBox { 
    spacing: 5px; 
    color: var(--text_gray); 
    font-size: var(--font_size_medium); 
}
QCheckBox::indicator { 
    width: 18px; 
    height: 18px; 
}

QPushButton#alignButton, QPushButton#styleToggleButton {
    border: 1px solid var(--border_input); 
    background-color: transparent;
    padding: 5px; 
    margin: 0px; 
    border-radius: 4px;
}
QPushButton#alignButton:checked, QPushButton#styleToggleButton:checked {
    background-color: var(--accent_blue); 
    border-color: var(--accent_blue_border);
}
QPushButton#alignButton:hover, QPushButton#styleToggleButton:hover {
    border-color: var(--icon_disabled_color);
}
QFrame#gradientGroup {
    background-color: var(--bg_dark); 
    border-radius: 4px; 
    padding: 0 8px 8px 8px;
}