#ImportWFWFDialog {
    background-color: var(--surface);
    color: var(--text);
    font-size: var(--font_size_small);
}
#ImportWFWFDialog QLineEdit {
    background-color: var(--primary);
    padding: var(--padding_large);
    border: 1px solid var(--secondary);
    border-radius: var(--border_radius_small);
    margin: var(--spacing_small) 0;
}
#ImportWFWFDialog QLabel {
    color: var(--septenary);
}
#ImportWFWFDialog QListWidget {
    background-color: var(--primary);
    color: var(--text);
    border-radius: var(--border_radius_small);
    padding: var(--padding_medium);
}
#ImportWFWFDialog QPushButton {
    background-color: var(--secondary);
    color: var(--text);
    padding: var(--padding_large) var(--spacing_xxlarge);
    border: none;
    border-radius: var(--border_radius_small);
    min-width: 80px;
}
#ImportWFWFDialog QPushButton:hover {
    background-color: var(--duodenary);
}
#ImportWFWFDialog QPushButton:disabled {
    background-color: var(--primary);
    color: var(--octenary);
}
#ImportWFWFDialog QProgressBar {
    border: 1px solid var(--secondary);
    border-radius: var(--border_radius_small);
    text-align: center;
    height: 20px;
}
#ImportWFWFDialog QProgressBar::chunk {
    background-color: var(--progress_chunk);
    width: 1px;
}
#ImportWFWFDialog QStatusBar {
    color: var(--septenary);
}